.container {
    transform: translate(0, 10%);
}

#scores {
    background-color: grey;
    width: 400px;
    height: 100px;
    display: flex;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;
}

.score {
    display: flex;
}

.board {
    background-color: #20c997;
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 2px;
    width: fit-content;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.grid {
    border: solid;
    height: 50px;
    width: 50px;
}

.piece {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 2px;
}

.white {
    border: solid white;
    background-color: white;
}

.black {
    border: solid black;
    background-color: black;
}